<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.gm.brainobrain">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BrainOBrain"
        tools:targetApi="31">
        <activity
            android:name=".OraltypeActivity"
            android:exported="false" />
        <activity
            android:name=".DoublingtypeActivity"
            android:exported="false" />
        <activity
            android:name=".Level10SectionActivity"
            android:exported="false" />
        <activity
            android:name=".NumbertypeDivideActivity"
            android:exported="false" />
        <activity
            android:name=".NumbertypemutipleActivity"
            android:exported="false" />
        <activity
            android:name=".Level5sectionActivity"
            android:exported="false" />
        <activity
            android:name=".Level3sectionActivity"
            android:exported="false" />
        <activity
            android:name=".ScoreActivity"
            android:exported="true" />
        <activity
            android:name=".NumbertypeActivity"
            android:exported="true" />
        <activity
            android:name=".YourAnswerActivity"
            android:exported="false" />
        <activity
            android:name=".VisualActivity"
            android:exported="true" />
        <activity
            android:name=".FlashcardsActivity"
            android:exported="true" />
        <activity
            android:name=".ProgressActivity"
            android:exported="false" />
        <activity
            android:name=".DashboardActivity"
            android:exported="true" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>